name: Page deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PYTHON_PATH: "src"

jobs:
  build-pages:
    runs-on: ubuntu-latest
    if: ${{ vars.INITED == 'true' }}
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Install sphinx
        run: |
          pip install sphinx sphinx_design myst_parser furo sphinx_autopackagesummary sphinxcontrib-napoleon sphinx-rtd-theme numpydoc
          pip install '.'
      - name: Build Sphinx documentation
        run: |
          rm -rf ./public/*
          sphinx-apidoc -f -o sphinx $PYTHON_PATH
          sphinx-build -b html ./sphinx ./public
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public
      
      - name: Upload Sphinx build logs
        uses: actions/upload-artifact@v4
        with:
          name: sphinx-build-logs
          path: ./public

  
  deploy-pages:
    runs-on: ubuntu-latest
    needs: build-pages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4
