
name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - develop2
      - 'release/*'
      - main
  pull_request:

env:
  PIP_EXTRA_INDEX_URL: "https://nexus.fastit.dev/repository/fast-it/simple"


jobs:
  ruff_guardian:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false
    steps:
      - name: Clone the repository
        uses: actions/checkout@v3
      - name: Install ruff
        run: pip install ruff
      - name: Run ruff formatting check
        run: |
          if ! ruff format --check .; then ruff format .; false; fi

  build:
    runs-on: ubuntu-latest
    needs: ruff_guardian
    container:
      image: python:${{ vars.PYTHON_VERSION }}-slim
    steps:
      - name: Clone the repository
        uses: actions/checkout@v3
      - name: Install build tool
        run: |
          pip install --upgrade pip setuptools wheel
          pip install build
      - name: Build package
        run: |
          rm -rf dist/* build *.egg-info
          python -m build --sdist --wheel
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/

  pytest:
    runs-on: ubuntu-latest
    container:
      image: python:${{ vars.PYTHON_VERSION }}-slim
    needs: build
    steps:
      - name: Clone the repository
        uses: actions/checkout@v3
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: dist/
      - name: Install dependencies
        run: |
          apt-get update
          pip install --upgrade pip
          pip install pytest build pytest-cov
          pip install dist/*.whl
      - name: Run tests
        run: |
          pytest -s -o cache_dir=/tmp/.pytest_cache --junitxml="report.xml"
          pytest -s -o cache_dir=/tmp/.pytest_cache --cov --cov-report term --cov-report xml:"coverage.xml" --cov-report html:"coverage.html"
      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pytest-artifacts
          path: |
            report.xml
            coverage.xml
            coverage.html
  
  check-version:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' && vars.PUBLISH_TO_PYPI == 'true' }}
    steps:
      - name: Clone the repository
        uses: actions/checkout@v3
      - name: Check package version
        run: |
          PACKAGE_VERSION=$(cat pyproject.toml | grep -e "version = '.*'" | cut -d "'" -f 2)
          PACKAGE_NAME=$(cat pyproject.toml | grep '^name = ' | cut -d '=' -f 2 | xargs)
          ALL_VERSION=$(pip index versions $PACKAGE_NAME 2>/dev/null | grep -i 'Available versions:' | cut -d ':' -f 2 | tr ',' ' ' | xargs)

          if [  "$ALL_VERSION" = "" ]; then
            echo "No versions found on PyPI. Proceeding with publish."
            exit 0
          fi

          for ver in $ALL_VERSION; do
            if [ "$ver" = "$PACKAGE_VERSION" ]; then
              echo "Version $PACKAGE_VERSION already exists on PyPI. Aborting publish."
              exit 1
            fi
          done
          echo "Version $PACKAGE_VERSION does not exist on PyPI. Proceeding with publish."

  upload-on-pipy:
    runs-on: ubuntu-latest
    needs: [pytest, check-version]
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: dist/
      - name: Install twine
        run: pip install twine
      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          twine check dist/*
          twine upload dist/*